<!-- views/partials/footer.ejs -->
<footer>
                <div class="scooter">
                </div>
                <div class="ballon">
                </div>
        </footer>
    </div>
</div>
<p class="text-center text-muted">© Copyright 2016 Disney</p>
<link rel="stylesheet" href="/public/style/lib/slick.css">
<script>
		var Env = {
			i18n:	{
				"name_error_msg"			:	"<%= __('name_error_msg')%>",
				"error_name_invalid"		:	"<%= __('error_name_invalid')%>",
				"error_email_empty"			:	"<%= __('error_email_empty')%>",
				"error_email_invalid"		:	"<%= __('error_email_invalid')%>",
				"mobile_empty"				:	"<%= __('mobile_empty')%>",
				"mobile_invalid"			:	"<%= __('mobile_invalid')%>",
				"mobile_invalid_format"		:	"<%= __('mobile_invalid_format')%>",
				"story_error_msg"			:	"<%= __('story_error_msg')%>",
				"age_error_msg"				:	"<%= __('age_error_msg')%>",
				"age_error_invalid"			:	"<%= __('age_error_invalid')%>",
				"city_error_msg"			:	"<%= __('city_error_msg')%>",
				"success_msg"				:	"<%= __('success_msg')%>",
				"error_photo"				:	"<%= __('error_photo')%>",
				"error_photo_format"		:	"<%= __('error_photo_format')%>",
				"fb_share_title"			:	"<%= __('fb_share_title')%>",
				"fb_share_desc"				:	"<%= __('fb_share_desc')%>",
				"tw_share_desc"				:	"<%= __('tw_share_desc')%>",
				"error_agree"				:	"<%= __('error_agree')%>"

			}
		}
		</script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=249324512106817"></script>
<script src="/public/js/app/common/common.js"></script>
<script src="/public/js/app/home/index.js"></script>
<script src="/public/js/app/pictures/index.js"></script>
<script src="/public/js/app/videos/index.js"></script>
<script src="/public/js/lib/slick.js"></script>
<script src="/public/js/lib/jquery.placeholder.min.js"></script>
</body>
</html>

